Client_JAX/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanqueServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:5050/?xsd=1"/>
</xsd:schema>
</types>
<message name="getComptes">
<part name="parameters" element="tns:getComptes"/>
</message>
<message name="getComptesResponse">
<part name="parameters" element="tns:getComptesResponse"/>
</message>
<message name="conversion_euro_dh">
<part name="parameters" element="tns:conversion_euro_dh"/>
</message>
<message name="conversion_euro_dhResponse">
<part name="parameters" element="tns:conversion_euro_dhResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<portType name="BanqueService">
<operation name="getComptes">
<input wsam:Action="http://ws/BanqueService/getComptesRequest" message="tns:getComptes"/>
<output wsam:Action="http://ws/BanqueService/getComptesResponse" message="tns:getComptesResponse"/>
</operation>
<operation name="conversion_euro_dh">
<input wsam:Action="http://ws/BanqueService/conversion_euro_dhRequest" message="tns:conversion_euro_dh"/>
<output wsam:Action="http://ws/BanqueService/conversion_euro_dhResponse" message="tns:conversion_euro_dhResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://ws/BanqueService/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://ws/BanqueService/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conversion_euro_dh">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueServiceService">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:5050/"/>
</port>
</service>
</definitions>